<section class="section__block capabilities">
  <div class="wrapper">
    <h1 class="small">Capabilities</h1>
    <p>We are the only college marketing platform with access to over half of all college students, parents &amp; alumni nationwide; <br>both on campus and online. We drive meaningful brand conversations at every stage of the college journey.</p>
    <iframe src="https://player.vimeo.com/video/204282709" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</section>
<section class="capabilities-marketing">
  <div class="wrapper">
    <h2 class="small">Digital Marketing</h2>
    <p>Your one source to reach students where they work, <br>meet and socialize online.</p>
  </div>
  <div class="wrapper wrapper--full--right ">
    <div class="block-container two-columns">
      <div class="block">
        <img src="./img/capabilities/001.png">
      </div>
      <div class="block block-information">
        <ul class="features__container">
          <li class="features__item">
            <div class="features__item__icon">
              <!-- build:include ../partials/capabilities-icons/dedicated-emails.svg -->
              <!-- /build -->
            </div>
            <div class="features__item__content">
              <h3>Dedicated Emails</h3>
              <p>100% SOV, branded with the university logo and delivered directly to students. </p>
            </div>
          </li>
          <li class="features__item">
            <div class="features__item__icon">
              <!-- build:include ../partials/capabilities-icons/website-banners.svg -->
              <!-- /build -->
            </div>
            <div class="features__item__content">
              <h3>Website Banners</h3>
              <p>Ads across the Barnes &amp; Noble College bookstore e-commerce sites.</p>
            </div>
          </li>
          <li class="features__item">
            <div class="features__item__icon">
              <!-- build:include ../partials/capabilities-icons/mobile-social.svg -->
              <!-- /build -->
            </div>
            <div class="features__item__content">
              <h3>Social Media + Mobile App</h3>
              <p>Each Barnes &amp; Noble College bookstore has dedicated social media handles and mobile app experience.</p>
            </div>
          </li>
          <li class="features__item">
            <div class="features__item__icon">
              <!-- build:include ../partials/capabilities-icons/custom-content.svg -->
              <!-- /build -->
            </div>
            <div class="features__item__content">
              <h3>Custom Content</h3>
              <p>TheCollegeJuice.com is our daily online destination for college students, covering all content.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- build:include ./block-cta.html -->
<!-- /build -->