<footer class="footer">
  <div class="wrapper wrapper--full">
    <div class="footer__copyright">
      <p>Copyright &copy; 2017 &middot; Barnes &amp; Noble College</p>
    </div>
    <nav class="footer__nav">
      <ul class="footer__nav__container">
        <li class="footer__nav__item"><a href="#">Campus Stores</a></li>
        <li class="footer__nav__item"><a href="#">Careers</a></li>
        <li class="footer__nav__item"><a href="#">College Marketing</a></li>
        <li class="footer__nav__item"><a href="#">Next</a></li>
        <li class="footer__nav__item"><a href="#">Bned</a></li>
      </ul>
      <ul class="footer__social__container">
        <li class="footer__social__item">
          <a href="#">
            <!-- build:include ../partials/social-icons/facebook.svg -->
            <!-- /build -->
          </a>
        </li>
        <li class="footer__social__item">
          <a href="#">
            <!-- build:include ../partials/social-icons/linkedin.svg -->
            <!-- /build -->
          </a>
        </li>
        <li class="footer__social__item">
          <a href="#">
            <!-- build:include ../partials/social-icons/twitter.svg -->
            <!-- /build -->
          </a>
        </li>
        <li class="footer__social__item">
          <a href="#">
            <!-- build:include ../partials/social-icons/instagram.svg -->
            <!-- /build -->
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>