<header class="header">
  <div class="wrapper wrapper--full">
    <div class="header__logo">
      <a href="#"><img src="/img/logo.svg"></a>
    </div>
    <nav class="header__nav">
      <ul class="header__nav__container">
        <li class="header__nav__item"><a href="/index.html">Home</a></li>
        <li class="header__nav__item"><a href="/capabilities.html">Capabilities</a></li>
        <li class="header__nav__item"><a href="/partners.html">Partners</a></li>
        <li class="header__nav__item"><a href="#">News</a></li>
        <li class="header__nav__item"><a class="button button--secondary" href="#">Become a Partner</a></li>
      </ul>
    </nav>
  </div>
</header>