<section class="section__block home-hero">
  <div class="wrapper wrapper--full--right">
    <div class="block-container two-columns">
      <div class="block block-image">
        <!-- <img src="./img/girl-hero.png"> -->
        <video id="video" width="100%"  autoplay="true">
          <source src="./img/homebg.mp4" type="video/mp4">
        </video>
      </div>
      <div class="block block-content">
        <h1>Connecting <span>Students &amp; Brands</span></h1>
        <h5>We take brands to students where they <br> learn, live, work and play</h5>
        <div class="content-quote">
          <img src="./img/icons/starbucks.svg">
          <blockquote>
            <p>“Barnes &amp; Noble College provided us with the perfect <br> combination of powerful media platform and highly-targeted <br> millennial audience.”</p>
          </blockquote>
        </div>
        <a href="#" class="button button--shadow">Partner with us</a>
      </div>
    </div>
  </div>
</section>
<section class="home-hero__items">
  <div class="wrapper wrapper--full">
    <div class="block-container three-columns">
      <div class="block block-information">
        <h4 class="block__title">How we help brands to succed?</h4>
        <ul class="block__list">
          <li><a href="#">Increase Brand Awareness</a></li>
          <li><a href="#">Drive Sales</a></li>
          <li><a href="#">Acquire New Customers</a></li>
          <li><a href="#">Deliver Engagement</a></li>
          <li><a href="#">Gain Insights</a></li>
        </ul>
      </div>
      <div class="block">
        <h4 class="block__title">Our Integrated college Marketing Platform</h4>
        <img class="block__image block__image--abs" src="./img/home/features/chrome.svg">
      </div>
      <div class="block block-students">
        <h4 class="block__title">Instant access to 50% of the College Students</h4>
        <img class="block__image" src="./img/home/features/statistics.svg">
      </div>
    </div>
  </div>
</section>