<section class="section__block partners">
  <div class="wrapper">
    <!-- <ul class="partners-filter__container">
      <li><a href="#">All Case Studies</a></li>
      <li><a href="#">Increase Brand Awareness</a></li>
      <li><a href="#">Drive Sales</a></li>
      <li><a href="#">Acquire New Customers</a></li>
      <li><a href="#">Deliver Engagement</a></li>
      <li><a href="#">Gain Insights</a></li>
    </ul> -->
  </div>
</section>
<section class="case-studies">
  <div class="wrapper">
    <div class="case-studies__container">
      <div class="case-studies__item cosmopolitan" data-quote="This is a quote for this product">
        <!-- build:include ../partials/partners-logos/cosmopolitan.svg -->
        <!-- /build -->
        <div class="content">
          <div class="block-container two-columns">
            <div class="block block__image">
            </div>
            <div class="block block__content">
              <span class="case-studies__close">X</span>
              <h2>Chevrolet: Drive of your Life Sweepstakes</h2>
              <p>As Seniors approach the next phase in life, Chevrolet embarked on a nationwide campus tour to prepare students for the world, generate leads and build brand awareness by promoting the Chevrolet Graduate Drive of Your Life Sweepstakes across more then 550 campuses, both online and in store.</p>
              <img src="./img/icons/starbucks.svg">
              <div class="content-quote">
                <img src="./img/icons/starbucks.svg">
                <blockquote>
                  <p>“Barnes &amp; Noble College provided us with the perfect <br> combination of powerful media platform and highly-targeted <br> millennial audience.”</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="case-studies__item visa" data-quote="This is a quote for this product">
        <!-- build:include ../partials/partners-logos/visa.svg -->
        <!-- /build -->
        <div class="content">
          <div class="block-container two-columns">
            <div class="block block__image">
            </div>
            <div class="block block__content">
              <span class="case-studies__close">X</span>
              <h2>Chevrolet: Drive of your Life Sweepstakes</h2>
              <p>As Seniors approach the next phase in life, Chevrolet embarked on a nationwide campus tour to prepare students for the world, generate leads and build brand awareness by promoting the Chevrolet Graduate Drive of Your Life Sweepstakes across more then 550 campuses, both online and in store.</p>
              <img src="./img/icons/starbucks.svg">
              <div class="content-quote">
                <img src="./img/icons/starbucks.svg">
                <blockquote>
                  <p>“Barnes &amp; Noble College provided us with the perfect <br> combination of powerful media platform and highly-targeted <br> millennial audience.”</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="case-studies__item chevrolet" data-quote="This is a quote for this product">
        <!-- build:include ../partials/partners-logos/chevrolet.svg -->
        <!-- /build -->
        <div class="content">
          <div class="block-container two-columns">
            <div class="block block__image">
            </div>
            <div class="block block__content">
              <span class="case-studies__close">X</span>
              <h2>Chevrolet: Drive of your Life Sweepstakes</h2>
              <p>As Seniors approach the next phase in life, Chevrolet embarked on a nationwide campus tour to prepare students for the world, generate leads and build brand awareness by promoting the Chevrolet Graduate Drive of Your Life Sweepstakes across more then 550 campuses, both online and in store.</p>
              <img src="./img/icons/starbucks.svg">
              <div class="content-quote">
                <img src="./img/icons/starbucks.svg">
                <blockquote>
                  <p>“Barnes &amp; Noble College provided us with the perfect <br> combination of powerful media platform and highly-targeted <br> millennial audience.”</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="case-studies__item kind" data-quote="This is a quote for this product">
        <!-- build:include ../partials/partners-logos/kind.svg -->
        <!-- /build -->
        <div class="content">
          <div class="block-container two-columns">
            <div class="block block__image">
            </div>
            <div class="block block__content">
              <span class="case-studies__close">X</span>
              <h2>Chevrolet: Drive of your Life Sweepstakes</h2>
              <p>As Seniors approach the next phase in life, Chevrolet embarked on a nationwide campus tour to prepare students for the world, generate leads and build brand awareness by promoting the Chevrolet Graduate Drive of Your Life Sweepstakes across more then 550 campuses, both online and in store.</p>
              <img src="./img/icons/starbucks.svg">
              <div class="content-quote">
                <img src="./img/icons/starbucks.svg">
                <blockquote>
                  <p>“Barnes &amp; Noble College provided us with the perfect <br> combination of powerful media platform and highly-targeted <br> millennial audience.”</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="case-studies__item poppin" data-quote="This is a quote for this product">
        <!-- build:include ../partials/partners-logos/poppin.svg -->
        <!-- /build -->
        <div class="content">
          <div class="block-container two-columns">
            <div class="block block__image">
            </div>
            <div class="block block__content">
              <span class="case-studies__close">X</span>
              <h2>Chevrolet: Drive of your Life Sweepstakes</h2>
              <p>As Seniors approach the next phase in life, Chevrolet embarked on a nationwide campus tour to prepare students for the world, generate leads and build brand awareness by promoting the Chevrolet Graduate Drive of Your Life Sweepstakes across more then 550 campuses, both online and in store.</p>
              <img src="./img/icons/starbucks.svg">
              <div class="content-quote">
                <img src="./img/icons/starbucks.svg">
                <blockquote>
                  <p>“Barnes &amp; Noble College provided us with the perfect <br> combination of powerful media platform and highly-targeted <br> millennial audience.”</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="case-studies__item goodnessknows" data-quote="This is a quote for this product">
        <!-- build:include ../partials/partners-logos/goodnessknows.svg -->
        <!-- /build -->
        <div class="content">
          <div class="block-container two-columns">
            <div class="block block__image">
            </div>
            <div class="block block__content">
              <span class="case-studies__close">X</span>
              <h2>Chevrolet: Drive of your Life Sweepstakes</h2>
              <p>As Seniors approach the next phase in life, Chevrolet embarked on a nationwide campus tour to prepare students for the world, generate leads and build brand awareness by promoting the Chevrolet Graduate Drive of Your Life Sweepstakes across more then 550 campuses, both online and in store.</p>
              <img src="./img/icons/starbucks.svg">
              <div class="content-quote">
                <img src="./img/icons/starbucks.svg">
                <blockquote>
                  <p>“Barnes &amp; Noble College provided us with the perfect <br> combination of powerful media platform and highly-targeted <br> millennial audience.”</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="partners-logos">
  <div class="wrapper">
    <h2 class="small">Our Partners</h2>
    <p>Create experiences that drive brand awareness and acquire new customers for your brand.</p>
    <img src="./img/partners/partners-logo.png">
  </div>
</section>
<!-- build:include ./block-cta--blue.html -->
<!-- /build -->