### Node ###
node_modules/
# Optional npm cache directory
.npm
# Logs
logs
*.log
npm-debug.log*
# Yarn Integrity file
yarn-debug.log*
yarn-error.log*
.yarn-integrity

### Git ###
*.orig

### BOWER ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

# dotenv environment variables file
.env

### Sass ###
.sass-cache/
*.css.map

### MSUXF Specific ###
.ftppass
documentation/
dev/
dist/
assets/styles/libs/*
!assets/styles/libs/iconfont/
assets/styles/libs/iconfont/_icon-font.scss
!assets/styles/libs/iconfont/grunt-icontemplate.css
!assets/styles/libs/iconfont/gulp-icontemplate.css