////
/// Common
/// @group Common
/// @author MS
////

.wrapper {
  @include center($msuif-wrapper-max-width);

  padding-right: torem(16px);
  padding-left: torem(16px);
  &.wrapper--full {
    @include center(100%);
  }
  &.wrapper--full--right {
    @include center(100%);

    padding-right: 10%;
    padding-left: 0;
  }
  &.wrapper--small {
    @include center($msuif-wrapper-min-width);
  }
}

.section__block {
  background: linear-gradient(to bottom, rgba($msuif-color-septenary,1) 0%, rgba($msuif-color-senary, 1) 100%);

  padding-top: toem(108px) + toem(60px);
}

.block-container {
  display: flex;

  align-items: center;

  justify-content: space-between;

  width: 100%;
  .block {
    margin: 0;

    padding: 0;
  }
  &.two-columns {
    .block {
      margin-right: 2%;

      width: 48%;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  &.two-columns--blog {
    .block:first-of-type {
      width: 66.66%;
    }
    .block:last-of-type {
      width: 33.33%;
    }
  }
  &.three-columns {
    .block {
      width: 33.33%;
    }
  }
}

.section__cta {
  background: $msuif-color-secondary;

  padding: toem(70px) 0;

  text-align: center;

  color: $msuif-color-nonary;
  h2 {
    text-shadow: 2px 2px rgba($msuif-color-denary, 0.2);

    line-height: 1;
    color: $msuif-color-nonary;

    font-size: toem(36px);
    font-weight: 600;
  }
  p {
    margin: torem(22px) 0 torem(46px) 0;

    font-size: toem(20px);
  }
  &.bg--blue {
    background: $msuif-color-primary;
    .button--tertiary {
      &:hover {
        color: $msuif-color-primary;
      }
    }
  }
}
